
body {
  font-family: Arial;
  font-weight: 800;
  font-size: 80%;
}


/* Navigation-Bar Style */


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

#navLinks {
  position: relative;
  float: right;
  top: 0.7em;
  padding: 1em 0;
}

nav img {
  padding: 1em 0;
}

li a {
  text-decoration: none;
  padding: 0.5em;
  color: black;
  display: block;
}

a:hover {
text-decoration: underline;
}

/* Content-Style */

#content {
  top: 0;
  right: 0;
  bottom: 37%;
  left: 0;
  position: absolute;
  display: block;
  width: 45%;
  height: 20%;
  margin: auto;
}

#content img {
  position: relative;
  display: block;
  margin: auto;
}

#content p {
  position: relative;
  text-align: center;
  margin-top: 2em;
}


#searchBar {
  width: 90%;
  height: 2em;
  padding: 1em
}


.submit {
  left: 20%;
  width: 30%;
  height: 3em;
  margin-top: 2em;
}

input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* Footer-Style */


footer {
  position: absolute;
  display: inline-block;
  top: 89%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:#e3e7ed;
}

#greyBox1 {
  position: relative;
  display: block;
  height: 50%;
  width: 100%;
  color:#878b91;
}

#greyBox1 p {
  padding-left:1.3em;
}

#greyBox2 {
  position: absolute;
  display: block;
  height: 50%;
  top: 51%;
  width: 100%;
  border-top: 2px #d0d3d8 solid;
  color:#878b91;
}

#greyBox2_left {
  float: left;
  padding-left:1.3em;
}

#greyBox2_right {
  float: right;
  padding-right:1.3em;

}

#greyBox2 a {
position: relative;
top:1.1em;
text-decoration: none;
color: #878b91;
}

#greyBox2 a:hover {
text-decoration: underline;
}

